<!DOCTYPE html>
<html lang="en" ng-app="MenuBuilder">
<head>
 <meta charset="UTF-8">
 <title>Macronutrient Menu Builder</title>
 <link rel="stylesheet" type="text/css" href="styles.css">
 <script src="bower_components/jquery/dist/jquery.min.js"></script>
 <script src="bower_components/angular/angular.min.js"></script>
 <script src="bower_components/angular-resource/angular-resource.js"></script>
 <script src="js/app.js"></script>
 <script src="js/controllers/foods.js"></script>
 <script src="js/services/foods.js"></script>
</head>
<body>

  <h1>Macronutrient Menu Builder</h1>
<p>If this says six  <{{3 + 3}}> angular still works </p>
  <div ng-controller='foodsController as foodsCtrl'>
    <button ng-click='foodsCtrl.getFoods()' class='cancel'>Get</button>
    <form ng-submit="foodsCtrl.create()">
     <label>Enter Food</label>
     <input type="text" name="food" ng-model="foodsCtrl.food">
     <input type="submit">
   </form>
    <div ng-repeat="food in jsonfoods">
      {{food.name}}<span class="delete" ng-click="foodsCtrl.delete($index)"> x </span></p>
    <ul>
      <li>{{food.nutrients[0].nutrient}}: {{food.nutrients[0].value}}</li>
      <li>{{food.nutrients[1].nutrient}}: {{food.nutrients[1].value}}</li>
      <li>{{food.nutrients[2].nutrient}}: {{food.nutrients[2].value}}</li>
    </ul>


  <!-- <p ng-show="!editFood">
  <button class ="edit" ng-click="foodsCtrl.edit($index); editFood = !editFood">Edit Todo</button>
  <form ng-show="editFood">
    <input type="text" name="name" ng-model="foodsCtrl.name">
    <button class="new" ng-click="foodsCtrl.edit($index); editFood = !editFood">Save</button>
    <button ng-click='editFood = !editFood' class='cancel'>Cancel</button> -->

  </form>
    </div>
  </div>

</body>
</html>
