<!DOCTYPE html>
<html lang="en" ng-app="MenuBuilder">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <title>Macronutrient Menu Builder</title>
 <link rel="stylesheet" type="text/css" href="styles.css">
 <script src="bower_components/jquery/dist/jquery.min.js"></script>
 <script src="bower_components/angular/angular.min.js"></script>
 <script src="bower_components/angular-resource/angular-resource.js"></script>
 <script src="bower_components/firebase/firebase.js"></script>
 <script src="bower_components/angularfire/dist/angularfire.min.js"></script>
 <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
 <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
 <script src="js/app.js"></script>
 <script src="js/controllers/foods.js"></script>
 <script src="js/services/foods.js"></script>
</head>

<body>
  <div class="page-header mainTitle">
    <h1> Macronutrient Menu Builder</h1>
    <h3>*U.S. Department of Agriculture, Agricultural Research Service. FoodData Central, 2019. <a href="https://fdc.nal.usda.gov/" target="_blank" title="USDA website">https://fdc.nal.usda.gov</a></h3>
    <h3>Version 10<h3>
  </div>
<div class="foodGroupDropdown">
  <select>
  <option value="0100" id="dairy">Dairy and Egg Products</option>
  <option value="0200" id="spices">Spices and Herbs</option>
  <option value="0300" id="baby_foods">Baby Foods</option>
  <option value="0400" id="fats_oils">Fats and Oils</option>
  <option value="0500" id="poultry">Poultry Products</option>
  <option value="0600" id="soups">Soups, Sauces, and Gravies</option>
  <option value="0700" id="sausages">Sausages and Luncheon Meats</option>
  <option value="0800" id="breakfast_cereals">Breakfast Cereals</option>
  <option value="0900" id="fruits">Fruits and Fruit Juices</option>
  <option value="1000" id="pork">Pork Products</option>
  <option value="1100" id="vegetables">Vegetables and Vegetable Products</option>
  <option value="1200" id="nut">Nut and Seed Products</option>
  <option value="1300" id="beef">Beef Products</option>
  <option value="1400" id="beverages">Beverages</option>
  <option value="1500" id="finfish">Finfish and Shellfish Products</option>
  <option value="1600" id="legumes">Legumes and Legume Products</option>
  <option value="1700" id="lamb_veal">Lamb, Veal, and Game Products</option>
  <option value="1800" id="baked_products">Baked Products</option>
  <option value="1900" id="sweets">Sweets</option>
  <option value="2000" id="cereal_grains_pasta">Cereal Grains and Pasta</option>
  <option value="2100" id="fast_foods">Fast Foods</option>
  <option value="2200" id="meals">Meals, Entrees, and Side Dishes</option>
  <option value="2500" id="snacks">Snacks</option>
  <option value="3500" id="american_indian">American Indian/Alaska Native Foods</option>
  <option value="3600" id="restaurant_foods">Restaurant Foods</option>
  </select>
</div>
  <div ng-controller='foodsController as foodsCtrl'>

      <button ng-click='foodsCtrl.getFoods()' class='showFoods btn btn-info'>Show Food Group</button>
      <form ng-submit="foodsCtrl.toggleShowProtein()" class="proteinForm form-group" ng-show="foodsCtrl.toggleShowProtein">
        <label>Protein</label>
       <input type="number" name="protein" id="focusedInput" placeholder="Enter Protein (g)" ng-model="foodsCtrl.protein">
       <input type="submit" class="btn btn-primary">
     </form>
     <button ng-click='foodsCtrl.clearIngredients()'>Clear Current Ingredients</button>
  <div class="currentRecipe">
    <h2 class="titleIngredients">Current Ingredients:</h2>
    <div class="addedFood" ng-repeat="foods in addedFood">
      <div ng-repeat="food in foods">
        <div class="individualFoodDiv">
         <p>{{food.name}} - {{food.measure}}</p>
        </div>
     </div>
   </div>
    <div class="nutrientsContainer">
     <h4>Total Nutrients in Meal</h4>
    <div class="ingredientNutrients" ng-repeat="nutrients in menuNutrients">
        <p>{{nutrients.name}}: {{nutrients.amount}}g <br></p>
    </div>
 </div>
 </div>
   <div class="foodList container-fluid">
     <div class="row">
      <div class="food col-xs-6 col-md-2" id={{$index}} ng-repeat="food in jsonfoods" ng-click="foodsCtrl.add($index)">
        <p><span class="add"> + </span>{{food.name}}</p>
        <ul>
          <li>Serving Size: {{food.measure}} </li>
          <li ng-repeat="nutrient in food.nutrients" ngShow="">{{nutrient.nutrient}}: {{nutrient.value}}g</li>
        </ul>
      </div>
    </div>
  </div>
  </div>
</body>
</html>
