
.ng-scope{
  display: inline;
}
.ingredientNutrients{
  /*float: right;*/
}

.add{
  color: green;
}
.remove{
  color: red;
}

.body{
  overflow: hidden;
}
.foodlist{
  display:flex;
}
.individualFoodDiv{
  margin: 0 auto;
  height:auto;
  width: 30%;
}
.addedFood p{
  overflow: auto;
  border-radius: 15px;
  border: 2px solid rgb(219, 212, 148);
  background-color: lemonchiffon;
  color: #181500;
  text-align: center;
}
.currentRecipe {
  text-align: center;
}
.currentRecipe h2, h4{
  text-decoration: underline;
}
.nutrientsContainer{
float: right;
position: absolute;
    top: 25%;
    right: 0px;
}

.food {
  background-color: lemonchiffon;
  color: #181500;
  width: 18%;
  height: 275px;
  display: inline-block;
  padding: 10px;
  margin: 4px;
  overflow: auto;
  border-radius: 15px;
  border: 2px solid rgb(219, 212, 148);
}
ul{
  text-align: left;
  list-style-type: none;
  padding: 5px 0px;
}
li{
  text-align: left;
  display: block !important;
  list-style-type: none;
  line-height: 1.5em;
}
.food:hover{
  background-color: rgb(183, 174, 95);
}

.foodGroupDropdown{
  margin: 10px;
  display: inline;
}
.showFoods{
  display: inline;
}
.mainTitle{
  color: #B7AE5F;
}
.proteinForm{
  margin: 10px;
}
@media screen and (max-width: 700px) {
  .currentRecipe{
    display: block;
    position: relative;
  }
.nutrientsContainer {
  display: block;
  position: relative;
                    }
}
